<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        {% extends "navbar.html"%}
        {% block title %} Page de Modification {% endblock %}

        {% block content %}
        <div class="container w-50 my-5">
            <form method="post" action="{{url_for('update_livre', id=livre.id)}}">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="username" value="{{ livre.nom }}">

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Auteur</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" name="email"
                        value="{{ livre.auteur }}">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Annee Parution</label>
                    <input type="number" class="form-control" id="annee" name="annee"
                        value="{{ livre.annee}}">
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
        {% endblock %}
    </div>

</body>

</html>