<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integr ity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <main class="container">
        <div class="row">
            <section class="col-12">

                <h1>Mes Emprunts</h1>
                <table class="table">
                    <thead>
                        <th>ID Pret</th>
                        <th>Nom Livre </th>
                        <th>Date Pret </th>
                        <th>Date Retour Pret </th>
                    </thead>
                    <tbody>
                        {% for useremprunt in useremprunts %}
                        <tr>
                            <td>{{ useremprunt.id }}</td>
                            <td>{{ useremprunt.nom }}</td>
                            <td>{{ useremprunt.date_pret }}</td>
                            <td>{{ useremprunt.date_fin_pret }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </main>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</body>

</html>